# This directory fails checks since many files
# are templated. Instead, we run the formatter
# after running `make generate-manifests` which creates
# the Install YAML in bin/
charts/gateway-helm/
charts/gateway-addons-helm/
charts/gateway-crds-helm/
bin/install.yaml
test/helm/gateway-helm/
test/helm/gateway-addons-helm/
test/helm/gateway-crds-helm/
examples/extension-server/charts/extension-server
site/node_modules/
.vscode/


